body {
    margin: 0;
    padding: 0;
}

#game-screen {
    display: block;
}

#gameOver, #playHUD {
    position: absolute;
    visibility: hidden;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}

.title {
    font-size: 62px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton {
    border: 2px solid white;
    border-radius: 20px;
}

#restartButton:hover {
    background-color: white;
    color: black;
}

#scoreboard {
    margin: 0px;
}

#black {
    background-color: black;
}

.white {
    text-decoration: none;
    color: white;
}